.hero {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background: rgb(0, 0, 0,0.1);
  padding: 2rem;
  text-align: center;
  color: var(--text-primary);

  &__content {
    max-width: 800px;
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgba(var(--background-rgb), 0.8);
    backdrop-filter: blur(10px);
  }

  &__heroTitle {
    font-size: clamp(2rem, 3rem, 4rem);
    font-weight: 700;
    margin-bottom: 1.5rem;
    line-height: 1.2;
    background: var(--color-accent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  &__subtitle {
    font-size: clamp(1rem, (1.2rem + 0.2vw), 2rem);
    margin-bottom: 2.5rem;
    opacity: 0.9;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background: var(--color-accent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  &Button {
    padding: 0.75rem 2rem;

    border-radius: 0.5rem;
    transition: transform 0.2s ease;

    &:hover {
      transform: translateY(-2px);
    }
  }
}

@media (max-width: 768px) {
  .hero {
    &Title {
      font-size: 2.2rem;
    }

    &Subtitle {
      font-size: 1.2rem;
    }
  }
}
