@use "../../../styles/mixins" as mixin;
@use "../../../styles/animations" as *;
.form {
  @include mixin.flex(column, flex-start, center);
  position: absolute;
  top: 30%;
  right: 40%;
  width: 20vw;
  padding: 2rem;
  color: var(--color-background-primary);
  background-color: black;
  z-index: 999;
  border-radius: 2rem;
  animation: fadeIn 0.4s forwards;
}
.button {
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  background: var(--color-accent);
  color: var(--color-foreground-primary);
  cursor: pointer;
}
